@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

@layer utilities {
  .prose {
    max-width: none;
  }
  
  .prose p {
    margin-bottom: 1rem;
  }
  
  .prose p:last-child {
    margin-bottom: 0;
  }
}